In [13]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.model_selection import KFold,LeaveOneOut, cross_val_score
pd.options.display.float_format = "{:,.2f}".format
import sys
sys.path.append("../")
from src import soporte_ajuste as sa

In [2]:
df = pd.read_csv("../data/autorenew_clean_estandar_sin_out_enc.csv", index_col=0)

In [3]:
df.head()

,name,seller,offerType,abtest,vehicleType,gearbox,model,fuelType,brand,notRepairedDamage,dateCreated,lastSeen,price_knn,monthOfRegistration_knn,postalCode_knn,powerCV_estandar,kilometer_estandar,yearOfRegistration_estandar
0,Golf_3_1.6,"10,690.28","10,690.43","10,881.72","11,782.79","7,912.58","19,432.72","8,753.18","14,478.71","20,760.72",2016-03-24 00:00:00,2016-04-07 03:16:57,"2,990.00",6.00,"49,733.00",-0.05,0.61,-0.02
1,A5_Sportback_2.7_Tdi,"10,690.28","10,690.43","10,881.72","24,522.52","7,912.58","22,216.94","10,392.23","12,732.91","6,147.93",2016-03-24 00:00:00,2016-04-07 01:46:50,"18,300.00",5.00,"66,954.00",0.39,-0.02,0.07
2,"Jeep_Grand_Cherokee_""Overland""","10,690.28","10,690.43","10,881.72","13,006.87","13,095.47","9,876.84","10,392.23","11,828.02","20,760.72",2016-03-14 00:00:00,2016-04-05 12:47:46,"9,800.00",8.00,"90,480.00",0.25,-0.02,-0.01
3,GOLF_4_1_4__3TÜRER,"10,690.28","10,690.43","10,881.72","5,558.22","7,912.58","19,432.72","8,753.18","14,478.71","8,559.12",2016-03-17 00:00:00,2016-03-17 17:40:17,"1,500.00",6.00,"91,074.00",-0.21,0.61,-0.04
4,Skoda_Fabia_1.4_TDI_PD_Classic,"10,690.28","10,690.43","10,881.72","5,558.22","7,912.58","4,127.68","10,392.23","6,310.38","8,559.12",2016-03-31 00:00:00,2016-04-06 10:17:21,"3,600.00",7.00,"60,437.00",-0.24,-0.89,0.04

In [4]:
df_analize = df.drop(columns=['name','dateCreated','lastSeen'])

In [5]:
df_analize.head()

,seller,offerType,abtest,vehicleType,gearbox,model,fuelType,brand,notRepairedDamage,price_knn,monthOfRegistration_knn,postalCode_knn,powerCV_estandar,kilometer_estandar,yearOfRegistration_estandar
0,"10,690.28","10,690.43","10,881.72","11,782.79","7,912.58","19,432.72","8,753.18","14,478.71","20,760.72","2,990.00",6.00,"49,733.00",-0.05,0.61,-0.02
1,"10,690.28","10,690.43","10,881.72","24,522.52","7,912.58","22,216.94","10,392.23","12,732.91","6,147.93","18,300.00",5.00,"66,954.00",0.39,-0.02,0.07
2,"10,690.28","10,690.43","10,881.72","13,006.87","13,095.47","9,876.84","10,392.23","11,828.02","20,760.72","9,800.00",8.00,"90,480.00",0.25,-0.02,-0.01
3,"10,690.28","10,690.43","10,881.72","5,558.22","7,912.58","19,432.72","8,753.18","14,478.71","8,559.12","1,500.00",6.00,"91,074.00",-0.21,0.61,-0.04
4,"10,690.28","10,690.43","10,881.72","5,558.22","7,912.58","4,127.68","10,392.23","6,310.38","8,559.12","3,600.00",7.00,"60,437.00",-0.24,-0.89,0.04

In [7]:
# instanciamos la clase de regresión lineal
analisis = sa.AnalisisModelosRegresion(dataframe=df_analize, variable_dependiente='price_knn')

# llamamos a la función para ajustar el modelo
analisis.ajustar_modelo(modelo='regresion')

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados = analisis.obtener_resultados()
df_resultados.head()

           Real   Predicho Conjunto     Modelo    Residuos
281331 1,500.00   9,360.54    Train  regresion   -7,860.54
122061 3,000.00  47,033.39    Train  regresion  -44,033.39
204257 3,125.00  -2,038.97    Train  regresion    5,163.97
77827      0.00 129,436.30    Train  regresion -129,436.30
180278 2,150.00  10,631.08    Train  regresion   -8,481.08

In [ ]:
#analisis.plot_residuos("regresion")

In [9]:
analisis.calcular_metricas("regresion")

                  train             test
R2                 0.00            -0.03
MAE           17,681.56        12,441.79
MSE  514,507,841,246.39 7,580,873,215.96
RMSE         717,292.02        87,068.21

In [ ]:
# # K-Fold Cross-Validation para el modelo de regresión
# lineal.cross_validate_kfold(modelo='regresion', cv=5)

# # Stratified K-Fold Cross-Validation para el modelo de regresión
# lineal.cross_validate_stratified_kfold(modelo='regresion', cv=5, n_bins=3)

In [11]:
list_x = df_analize.columns
list_x = list(list_x)
list_x.remove('price_knn')

df_x = df[list_x]

df_y = pd.DataFrame(df_analize['price_knn']).reset_index(drop=True)

In [16]:
df_x.head()

,seller,offerType,abtest,vehicleType,gearbox,model,fuelType,brand,notRepairedDamage,monthOfRegistration_knn,postalCode_knn,powerCV_estandar,kilometer_estandar,yearOfRegistration_estandar
0,"10,690.28","10,690.43","10,881.72","11,782.79","7,912.58","19,432.72","8,753.18","14,478.71","20,760.72",6.00,"49,733.00",-0.05,0.61,-0.02
1,"10,690.28","10,690.43","10,881.72","24,522.52","7,912.58","22,216.94","10,392.23","12,732.91","6,147.93",5.00,"66,954.00",0.39,-0.02,0.07
2,"10,690.28","10,690.43","10,881.72","13,006.87","13,095.47","9,876.84","10,392.23","11,828.02","20,760.72",8.00,"90,480.00",0.25,-0.02,-0.01
3,"10,690.28","10,690.43","10,881.72","5,558.22","7,912.58","19,432.72","8,753.18","14,478.71","8,559.12",6.00,"91,074.00",-0.21,0.61,-0.04
4,"10,690.28","10,690.43","10,881.72","5,558.22","7,912.58","4,127.68","10,392.23","6,310.38","8,559.12",7.00,"60,437.00",-0.24,-0.89,0.04

In [17]:
df_y.head()

   price_knn
0   2,990.00
1  18,300.00
2   9,800.00
3   1,500.00
4   3,600.00

In [21]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, train_size=0.7, random_state=42, shuffle=True)

modelo_lineal = linear_model.LinearRegression()
modelo_lineal.fit(x_train, y_train)

kf = KFold(n_splits=5, 
           shuffle=True, 
           random_state=42)

score_rmse = cross_val_score(modelo_lineal, 
                           df_x, 
                          df_y , 
                           cv = kf, 
                            scoring="neg_root_mean_squared_error" )
np.round(abs(np.mean(score_rmse)),2)

np.float64(529556.66)